body {
	margin: 0;
	background-image: url('../imgResources/backgroundSlider/ZiggoDome-Kensington.jpg');
	background-position: center; 
}	

* {
	box-sizing:border-box;
}

.left-panel {
	height: 100vh;
	width: 60px;
	background-color: rgba(229, 229, 229, 0.95);
	float: left;
}

.middle-panel {
	height: 100vh;
	width: 400px;
	background-color: rgba(216, 216, 216, 0.9);
	float: left;
	overflow: auto;

}

.middle-panel#LoginPanel {
	display: none;
}

.middle-panel#LoginPanel .Login {
	display: block;
	margin: 0 auto;

}

.middle-panel#LoginPanel img#profileImg {
	border-radius: 75px; 
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	width: 150px;
	height: 150px;
	background-image: url(../imgResources/avatars/unknown.png);
}

.middle-panel#LoginPanel #LoginBlocked {
	display: none;
}

.middle-panel#LoginPanel #LoginBlocked span {
	font-weight: bold;
}

.middle-panel#StartScreen {
	display: none;
}

.middle-panel#StartScreen img#profileImg.Profile {
	border-radius: 50px; 
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	width: 100px;
	height: 100px;
}

.right-panel#RegisterPanel {
	height: 100vh;
	width: 400px;
	background-color: rgba(242, 242, 242, 0.9);
	float: left;
	display: none;
	overflow: auto;
}

.right-panel#RegisterPanel .RegError {

}

.right-panel#RegisterPanel .Registration {
	display: block;
	margin: 0 auto;
}

.container {
	width: calc(100% - 460px);
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	float: left;
}