body {
	margin: 0;
}

* {
	box-sizing:border-box;
}

.left-panel {
	height: 100vh;
	width: 60px;
	background-color: #e5e5e5;
	float: left;
	-moz-box-shadow: 1px 1px 3px 2px #e5e5e5;
 	-webkit-box-shadow: 1px 1px 3px 2px #e5e5e5;
	box-shadow: 1px 1px 3px 2px #e5e5e5;
}

.middle-panel {
	height: 100vh;
	width: 400px;
	background-color: #d8d8d8;
	float: left;
	-moz-box-shadow: 1px 1px 3px 2px #d8d8d8;
 	-webkit-box-shadow: 1px 1px 3px 2px #d8d8d8;
	box-shadow:         1px 1px 3px 2px #d8d8d8;

}

.middle-panel#LoginPanel {
	display: none;
}

.middle-panel#LoginPanel .Login {
	display: block;
	margin: 0 auto;

}

.middle-panel#LoginPanel img#profileImg {
	border-radius: 75px; 
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	width: 150px;
	height: 150px;
	background-image: url(../imgResources/unknown.png);
}

.middle-panel#LoginPanel p.LoginErrors {
	display: none;
	margin: 0 auto;
}

.middle-panel#StartScreen {
	display: none;
}

.right-panel#RegisterPanel {
	height: 100vh;
	width: 400px;
	background-color: white;
	float: left;
	display: none;
	-moz-box-shadow: 1px 1px 3px 2px #fff;
 	-webkit-box-shadow: 1px 1px 3px 2px #fff;
	box-shadow:         1px 1px 3px 2px #fff;
}

.right-panel#RegisterPanel .Registration {
	display: block;
	margin: 0 auto;
}

.right-panel#RegisterPanel p.LoginErrors {
	display: none;
}

.container {
	width: calc(100% - 460px);
	height: 100vh;
	background-color: #f2f2f2;
	float: left;
	-moz-box-shadow: 1px 1px 3px 2px #f2f2f2;
 	-webkit-box-shadow: 1px 1px 3px 2px #f2f2f2;
	box-shadow:         1px 1px 3px 2px #f2f2f2;
}